.admin-header {
  width: 100%;
  height: 60px; /* Ensure fixed height */
  background-color: #cbd5e1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensures header is always above sidebar */
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.profile-pic {
  height: 40px;
}

.logout-link a {
  text-decoration: none;
  background-color: #ff5733;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  margin-right: 40px;
}
