.sidebar {
  width: 200px;
  height: calc(100vh - 60px); /* Takes full height but subtracts header height */
  background-color: #cbd5e1;
  color: white;
  position: fixed;
  top: 60px; /* Push sidebar below the header */
  left: 0;
  overflow-y: auto;
}

.sidebar-container {
  padding: 20px;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin-right: 0;
}

.sidebar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(51, 42, 42);
  padding: 10px 15px;
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
}

.sidebar-link:hover {
  background-color: #85d5ee;
}
